* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

.container-header{
    height: 15px;
    margin-top: 20px;
}

header{
    width: 100%;
    height: 10px;
    background-color: white;
    top: 5px;
    left: 0;
    line-height: 30px;
    /* position: fixed; */
    /* z-index: 2; */
}

.logo{
    height: 40px;
    display: inline-block;
    float: left;
    margin-top: 10px;
    vertical-align: middle;
    margin-left: 20px;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

#nav-col1{
    float: left;
    display: inline-block;
    width: 30%;
    margin-bottom: 50px;
    margin-top: 5px;
    margin-left: 20px;
}

#nav-col2{
    float: right;
    display: inline-block;
    width: 34%;
    margin-bottom: 50px;
    margin-top: 5px;
}

nav ul li{
    text-decoration: none;
    display: inline;
}

nav li a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

#nav > ul {
    text-align: center;
}

nav li{
    display: inline-block;
    list-style: none;
    padding-right: 10px;
}

.button-inizia{
    text-decoration: none;
    border: 1px solid #0061ff;
    background-color: #0061ff;
    color: white;
    line-height: 10px;
}

/* Parte alta */

section{
    height: 500px;
    width: 100%;
    background-color: cornflowerblue;
    position: relative;
}

section h1{
margin-left: 0;
}

.container-top{
    margin-left: 40px;
}

.blocco-top{
    margin-left: 90px;
    height: 400px;
    position: relative;
}

.blocco-top > h1{
    font-size: 60px;
    width: 87%;
    margin-bottom: 0px;
    padding: 40px;
}

.blocco-top p{
    display: inline-block;
    width: 350px;
    margin-left: 45px;
    margin-bottom: 30px;
    line-height: 20px;
}

.inizia-free{
    text-decoration: none;
    border: 1px solid dodgerblue;
    background-color: dodgerblue;
    color: white;
    margin-left: 45px;
}

.image-top > img{
    height: 350px;
    position: absolute;
    top: 200px;
    left: 650px;
}

.blocco-top > img{
    height: 450px;
    margin-left: 70px;
    /* position: relative; */
    
}

.button-top a{
    text-decoration: none;
    border: 1px solid #0061ff;
    background-color: #0061ff;
    color: white;
}

/* Main */

.container-main{
    height: 1000px;
    width: 100%;
    padding: 80px;
    margin-left: 140px;
}

main h1{
    margin: 0;
    margin-top: 50px;
    margin-bottom: 35px;
}

.container-main > h1{
    margin-bottom: 20px;
}

.col1 ul{
    margin: 30px 25px;
}

.col2 ul{
    margin: 30px 25px;
}

.col3 ul{
    margin: 30px 25px;
}

.col1,.col2,.col3, ul li{
    list-style-type: none;
    line-height: 40px;
}

.col1 ul .pro, .standard, .adv{
    font-weight: bold;
    font-size: 20px;
}

.col1, .col2, .col3, .text{
    font-size: 12px;
}


.col-container1,.col-container2, .col-container3{
    width: 25%;
    height: 800px;
    border: 1px solid lightgray ;
    float: left;
    margin-right: 40px;
    margin-top: 30px;
}

.col1 > .singolo{
    border-bottom: 1px solid lightgrey;
    text-align: center;
}

.col2 .team{
    border-bottom: 1px solid lightgrey;
    text-align: center;
}

.col3 .team{
    border-bottom: 1px solid lightgrey;
    text-align: center;
}

#btn-col{
    background-color: dodgerblue;
    border: 1px dodgerblue;
    color: white;
    text-align: center;
    padding: 10px;
    margin-left: 50px;
}

.tab-centrale{
    width: 70%;
    height: 500px;
    border: 1px solid lightgray ;
    margin-left: 40px;
    margin-top: 10px;
}


.col-centro{
    height: 150px;
    border: 1px solid lightgray;
    width: 1012px;
    display: inline-block;
    margin-left: 219px;
    margin-top: 20px;
}

.colcx ul li{
    list-style-type: none;
}

.colcx .team{
    border-bottom: 1px solid lightgrey;
    text-align: center;
}

.imgcx img{
    display: inline-block;
    float: left;
    height: 450px;
    margin-top: 100px;
    margin-left: 220px;

}

.blocco-textimg > .fianco-img{
    display: inline-block;
    float: left;
    width: 300px;
    margin-top: 140px;
    margin-left: 70px;
}

.fianco-img > h2{
    margin-bottom: 20px;
}

.fianco-img p{
    line-height: 25px;
    margin-bottom: 25px;
}

.fianco-img > a{
    margin-bottom: 20px;
    padding: 10px;
}

.button-partner{
    text-decoration: none;
    border: 1px solid grey;
    color: black;
}

/* Blocco da sei immagini */

#sixbloc-bl1, h1{
    margin-bottom: 40px;
    margin-top: 60px;
    margin-left: 220px;
}

.fila1{
    margin-left: 220px;
    margin-right: 40px;
}

.textunder{
    width: 200px;
}

.fila1, .fila2, .fila3{
    display: inline-block;
    float: left;
}

.fila1 > .firstpic{
    height: 200px;
    float: left;
    display: inline-block;
}

.fila2 > .secondpic{
    height: 200px;
    float: left;
    display: inline-block;
}

.fila3 > .thirdpic{
    height: 200px;
    float: left;
    display: inline-block;
}

.firstpic , .secondpic , .thirdpic{
    height: 200px;
    float: left;
    display: inline-block;
}

.firstpic h4{
    width: 200px;
}

.firstpic h5{
    width: 200px;
}

/* Parte blocchi colorati */

#colorbloc{
    height: 100px;
    display: inline-block;
    margin-top: 200px;
    margin-left: 220px;
}

#sponsor{
    width: 100%;
    height: 400px;
}

.logosx-bottom1{ 
    background-color: lightgreen;
}

.logo-bottom{
    height:50%;
    width:50%;
    float:left;
}

.logosx-bottom2{
    background-color: brown;
}

.logosx-bottom3{
    background-color: dodgerblue;
}

.logosx-bottom4{
    background-color: red;
}

.partesx img{
    width: 50%;
    transform: translate(50% , 50%);
}

.partedx img{
    width: 50%;
    transform: translate(50% , 50%);
}

.partesx{
    width:25vw;  
    float:left;
    height:25vw;
}

.partecx{
    height: 360px;
    width: 45%;
    float: left;
    background-color: lightgrey;
}

.logo-cx img{
    width: 20%;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.partedx{
    width:25vw;
    height:25vw;
    float: left;
}

.logodx-bottom1{
    background-color: red;   
}

.logodx-bottom2{
    background-color: brown;    
   
}

.logodx-bottom3{
    background-color: blue;    
}

.logodx-bottom4{
    background-color: yellow;    
   
}

/* Blocco azzurro bottom */

.blocco-azzurro-bottom{
    height: 300px;
    width: 100%;
    background-color: dodgerblue;
    color: brown;
}

.button-free{
    text-decoration: none;
    border: 1px solid #0061ff;
    background-color: #0061ff;
    color: white;
}

/* FAQ */

.faq{
    height: 300px;
    width: 50%;
    margin-top: 70px;
    margin-left: 220px;
}

.faq > h2,h5{
    line-height: 50px;
    border-bottom: 1px solid lightgrey;
    border-width: 1px;
}

/* Footer */

footer{
    height: 500px;
    background-color: black;
}

.footer1, .footer2, .footer3, .footer4, .footer5{
    display: inline-block;
    line-height: 30px;
    margin-right: 70px;
    transform: translate(100%, 60%);
    color: white;
}

.footer1, .footer2, .footer3, .footer4, .footer5, ul li{
    list-style: none;
}

