* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

.container-header{
    /* height: 15px; */
    margin-top: 20px;
}

.container{
    margin: 0 auto;
    width: 80%;
}

header{
    width: 100%;
    background-color: white;
    line-height: 30px;
    position: fixed;
    z-index: 2;
}

.logo{
    height: 40px;
    display: inline-block;
    float: left;
    margin-top: 10px;
    vertical-align: middle;
    margin-left: 20px;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

#nav-col1{
    float: left;
    display: inline-block;
    width: 30%;
    margin-bottom: 50px;
    margin-top: 5px;
    margin-left: 20px;
}

#nav-col2{
    float: right;
    display: inline-block;
    width: 34%;
    margin-bottom: 50px;
    margin-top: 5px;
}

nav ul li{
    text-decoration: none;
    display: inline;
}

nav li a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

#nav > ul {
    text-align: center;
}

nav li{
    display: inline-block;
    list-style: none;
    padding-right: 10px;
}

.button-inizia{
    text-decoration: none;
    border: 1px solid #0061ff;
    background-color: #0061ff;
    color: white;
    line-height: 10px;
}

/* Parte alta */

.sec-top{
    height: 550px;
    width: 100%;
    background-color: lightblue;
    position: relative;
    margin-top: 90px;
}

section h1{
    margin-left: 0;
}

.container-top{
    margin-left: 40px;
}

.blocco-top{
    margin-left: 90px;
    height: 400px;
    position: relative;
}

.blocco-top > h1{
    font-size: 60px;
    width: 87%;
    margin-bottom: 0px;
    padding: 40px;
}

.blocco-top p{
    display: inline-block;
    width: 350px;
    margin-left: 45px;
    margin-bottom: 30px;
    line-height: 20px;
}

.inizia-free{
    text-decoration: none;
    border: 1px solid #0061ff;
    background-color: #0061ff;
    color: white;
    line-height: 10px;
    margin-left: 45px;
    padding: 8px;
    font-size: 15px;
}

.annulla{
    margin-top: 20px;
}

.arrow-download{
    margin: 40px 0;
    font-size: 30px;
}

.image-top > img{
    height: 400px;
    position: absolute;
    top: 200px;
    left: 500px;
}

.blocco-top > img{
    height: 40px;
    margin-left: 70px;
}

.button-top a{
    text-decoration: none;
    border: 1px solid #0061ff;
    background-color: #0061ff;
    color: white;
}

/* Main */

.container-main{
    width: 100%;
    padding: 80px;
}

.radio1, .radio2{
    display: inline-block;
    padding: 10px;
    margin-left: 27px;
}

main h1{
    margin: 0;
    margin-top: 50px;
    margin-bottom: 35px;
    margin-left: 32px;
}

.container-main > h1{
    margin-bottom: 20px;
}

.col1 ul{
    margin: 30px 25px;
}

.col2 ul{
    margin: 30px 25px;
}

.col3 ul{
    margin: 30px 25px;
}

.col1 p{
    line-height: 30px;
}

.col2 p{
    line-height: 30px;
}

.col3 p{
    line-height: 30px;
}

.col1,.col2,.col3, ul li{
    list-style-type: none;
    margin-bottom: 20px;
}

.col1 ul .pro{
    font-weight: bold;
    font-size: 20px;
}

.col2 ul .standard{
    font-weight: bold;
    font-size: 20px;
}

.col3 ul .standard{
    font-weight: bold;
    font-size: 20px;
}

.col3 ul .adv{
    font-weight: bold;
    font-size: 20px;
}

.pro, .standard, .adv{
    margin-bottom: 10px;
}

.prize{
    font-weight: bold;
}

.month{
    color: gray;
    font-style: italic;
}

.point{
    margin-top: 30px;
}

.col1, .col2, .col3, .text{
    font-size: 12px;
}

.col-container1, .col-container2, .col-container3{
    width: 29%;
    height: 800px;
    border: 1px solid lightgray ;
    float: left;
}

.col-container1{
    margin: 30px 0 0 40px;
}

.col-container2{
    margin: 30px;
}

.col-container3{
    margin: 30px 0px;
}

.col1 > .singolo{
    border-bottom: 1px solid lightgrey;
    text-align: center;
}

.col2 .team{
    border-bottom: 1px solid lightgrey;
    text-align: center;
}

.col3 .team{
    border-bottom: 1px solid lightgrey;
    text-align: center;
}

.col-centro .contact{
    font-size: 14px;
}

.col-centro .solution{
    font-size: 13px;
}

.btn-col{
    background-color: #0061ff;
    border: 1px #0061ff;
    color: white;
    text-align: center;
    padding: 10px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.col1, .col2, .col3, h4{
    margin-bottom: 15px;
}

.tab-centrale{
    width: 70%;
    height: 500px;
    border: 1px solid lightgray ;
    margin-left: 40px;
    margin-top: 10px;
}

.col-container4{
    border: 1px solid lightgray;
    margin-top: 10px;
    height: 150px;
}

.col4 .team{
    border: 1px solid lightgray;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
}

.sol-varie{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

.bott{
    float: left;
}

.sol-varie p{
    font-weight: bold;
    font-size: 20px;
}

.sol-varie h6{
    font-weight: 100;
    font-size: 13px;
    width: 100%;
}

.bottone-vend{
    background-color: #0061ff;
    border: 1px #0061ff;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.col-centro{
    height: 200px;
    border: 1px solid lightgray;
    margin-top: 20px; 
}

.col-centro .adv{
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
    position: relative;
}

.col-centro .team{
    line-height: 30px;
    border-bottom: 1px solid lightgrey;
    text-align: center;
    font-size: 12px;
}

.col-centro ul li{
    list-style-type: none;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 15px;
}

.imgcx img{
    display: inline-block;
    float: left;
    height: 450px;
    margin-top: 100px;
}

.blocco-textimg > .fianco-img{
    display: inline-block;
    float: left;
    width: 300px;
    margin-top: 140px;
    margin-left: 70px;
}

.fianco-img > h2{
    margin-bottom: 20px;
}

.fianco-img p{
    line-height: 25px;
    margin-bottom: 25px;
}

.fianco-img > a{
    margin-bottom: 20px;
    padding: 10px;
}

.button-partner{
    text-decoration: none;
    border: 1px solid grey;
    color: black;
}

/* Blocco da sei immagini */


.immagine-testo1{
    float: left;
    width: 30%;
    margin-right: 30px;
}

.immagine-testo2{
    float: left;
    width: 30%;
    margin-right: 30px;
}

.immagine-testo3{
    float: left;
    width: 30%;
}

.blocco-colonne1{
    margin-bottom: 60px;
}

.blocco-colonne1 img{
    width: 100%;
}

.blocco-colonne1 h4{
    font-weight: bold;
    font-size: 20px;
    width: 220px;
}

.blocco-colonne2 h4{
    font-weight: bold;
    font-size: 20px;
    width: 220px;
}

.blocco-colonne1 h6{
    font-size: 12px;
    width: 220px;
    font-weight: 100;
}

.blocco-colonne2 h6{
    font-size: 12px;
    width: 220px;
    font-weight: 100;
}

.blocco-colonne h4,h6{
    width: 50%;
}

.blocco-colonne2 img{
    width: 250px;
}


/* Parte blocchi colorati */

.colorbloc{
    height: 100px;
    display: inline-block;
    margin-top: 150px;
    margin-left: 120px;
}

.colorbloc h1{
    width: 460px;
    margin-bottom: 20px;
}

.colorbloc h4{
    color: blue;
}

#sponsor{
    width: 100vw;
    margin-top: 50px;
}

.logosx-bottom1{ 
    background-color: lightgreen;
}

.logo-bottom{
    height: 180px;
    width:50%;
    float:left;
}

.logosx-bottom2{
    background-color: brown;
}

.logosx-bottom3{
    background-color: dodgerblue;
}

.logosx-bottom4{
    background-color: red;
}

.partesx img{
    width: 50%;
    transform: translate(50% , 50%);
    margin-top: 38px;
    filter: invert(1);
}

.partedx img{
    width: 50%;
    transform: translate(50% , 50%);
    margin-top: 38px;
    filter: invert(1);
}

.partesx{
    width:25%;  
    float:left;
    height:25%;
}

.partecx{
    height: 360px;
    width: 50%;
    float: left;
    background-color: lightgrey;
}

.partedx{
    width: 25%;
    height:25%;
    float: left;
}

.logo-cx img{
    width: 15%;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.text-logocx{
    margin-left: 80px;
    margin-right: 100px;
}

.logo-cx{
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.text-logocx h3,h4{
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

.text-logocx h4{
    margin-top: 15px;
}

.logodx-bottom1{
    background-color: red;   
}

.logodx-bottom2{
    background-color: lightblue;    
}

.logodx-bottom3{
    background-color: blue;    
}

.logodx-bottom4{
    background-color: gold;    
   
}

/* Blocco azzurro bottom */

.blocco-azzurro-bottom{
    display: inline-block;
    height: 300px;
    width: 100%;
    background-color: lightblue;
    color: brown;
}

.blocco-azzurro-bottom h2{
    font-size: 40px;
    font-weight: bold;
    width: 49%;
    top: 125px;
    display: inline-block;
    transform: translate(7% , 100%);
    margin-left: 80px;
    
}

.button-free{
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 10px;
    float: right;
    margin-right: 200px;
}


/* FAQ */

.faq{
    height: 400px;
    width: 50%;
    margin-top: 70px;
    margin-left: 280px;
}

.faq > h2,h5{
    line-height: 50px;
    border-width: 1px;
}

.domanda-risp{
    position: relative;
}

.domanda-risp i{
    position: absolute;
    left: 1000px;
    top: 20px;
}

.domanda-risp:hover h4{
    display: block;
}

.domanda-risp h4{
    display: none;
}

/* Footer */

footer{
    height: 500px;
    background-color: black;
}

.footer1, .footer2, .footer3, .footer4, .footer5{
    display: inline-block;
    line-height: 10px;
    margin-right: 70px;
    transform: translate(100%, 60%);
    color: white;
}

.footer1, .footer2, .footer3, .footer4, .footer5, ul li{
    list-style: none;
}

.footer1, .footer2, .footer3, .footer4, .footer5, .specifiche{
    margin-bottom: 40px;
}

#lingua{
    width: 80%;
    margin: auto;
    padding: 30px 0;
    margin-top: 100px;
}
#lingua hr{
    width: 100px;
    background-color: white;
    margin-bottom: 30px;
}

select{
    background-color: black;
    border: none;
    color: lightslategray;
}
.fa-earth-americas{
    color: lightslategray;
}
